/***/
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Inter", sans-serif;
  color: white;
}
/*Header*/
header {
  display: flex;
  align-items: center;
  background-color: #21222a;
  padding: 20px 27px;
}

.header-logo {
  width: 60px;
  margin: 10px;
}

header > h2 {
  font-weight: 600;
  font-size: xx-large;
  color: #61dafb;
  margin-right: auto;
}

header > h3 {
  font-weight: 600;
}

/*MainContent*/
.main {
  padding-top: 1.5em;
  flex-grow: 1;
  background-color: #282d35;
  background-image: url("./images/background-icon.png");
  background-repeat: no-repeat;
  background-position: right, center;
}

.main > h1 {
  font-weight: 700;
  margin-left: 27px;
}

li {
  font-weight: 400;
  margin-left: 51px;
}

li::marker {
  color: #61dafb;
  font-size: 2.6rem;
}

/*Footer*/
footer {
  background-color: #21222a;
  margin: 0;
  padding: 20px;
  text-align: center;
}
